.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;

    .movie {
        padding: 0;
        margin: 0 auto;
        width: 980px;
        margin: 20px 0 10px 0;
        overflow: hidden;
        padding: 5px 10px;
        list-style: none;
        background-color: var(--bgDetaliMovie);
        border-radius: 3px;

        li {
            text-decoration: none;
            outline: none;
            display: block;
            float: left;
            color: var(--text);
            font-size: 12px;
            line-height: 36px;
            position: relative;
            text-transform: uppercase;
            margin: 0 3px;
        }
        .active {
            color: var(--textPrimary);
        }
    }
}
