.container {
    width: 90%;
    margin-top: 28px;
    margin-bottom: 11px;
    margin: 28px 0 20px 15px;
    color: var(--primary);
    font-size: 25px;
    font-family: 'roboto';
    font-weight: 300;
    text-transform: uppercase;
}

.wrapper {
    width: 90%;
    margin-bottom: 30px;
    position: relative;

    .slideshow-arrow {
        font-size: 45px;
        display: inline-block;
        color: #ffffff;
        width: 50px;
        height: 70px;
        background: var(--bgDetaliMovie);
        margin-top: -35px;
        padding: 5px 13px;
        opacity: 0.7;

        &:hover {
            opacity: 1;
        }
    }
    .Slideshow_prev {
        position: absolute;
        left: 15px;
        right: 0;
        top: 50%;
        bottom: 0;
        z-index: 1000;
    }
    .Slideshow_next {
        position: absolute;
        right: 0px;
        top: 50%;
        bottom: 0;
        z-index: 1000;
    }
}


////////// style tag movie slider
.item {
    // margin: 15px;
    position: relative;
    width: 100%;
    float: left;
    height: 244px;
    margin-bottom: 10px;
    list-style: none;
    overflow: hidden;

    &:hover img {
        transform: scale(1.03);
    }

    i:after {
        content: '';
        position: absolute;
        top: 50%;
        left: 50%;
        border: 15px solid transparent;
        border-left: 20px solid var(--text);
        margin: -15px 0 0 -6px;
    }
    .lable {
        position: absolute;
        padding: 5px;
        font-size: 11px;
        color: var(--text);
        background: #e74c3c;
        border-bottom: 2px solid #bb3c2f;
        top: 5px;
        left: 15px;
        z-index: 2;
        border-radius: 0;
        font-weight: normal;
        border-radius: 0 5px 5px 0;
    }
    .icon-play {
        background: var(--primary);
        height: 50px;
        width: 50px;
        position: absolute;
        top: 50%;
        left: 50%;
        margin: -25px 0 0 -25px;
        border-radius: 50%;
        opacity: 0;
        transform: scale(1.5);
        transition: all 0.3s ease-in-out;
    }
    .img {
        height: 227px;
        width: 100%;
        transition: all 0.3s ease-in-out;
        vertical-align: middle;
        position: relative;
        overflow: hidden;
        margin: 15px;
    }
    .title {
        position: absolute;
        bottom: 0;
        left: 15px;
        right: 0;
        background: var(--bgDetaliMovie);
        text-align: center;
        color: var(--text);
        padding: 8px;
        font-size: 14px;
        font-family: 'roboto';
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        width: 100%;
    }
}
.item:hover .icon-play {
    transform: scale(1);
    opacity: 0.8;
}
.item-list {
    margin: 0px;
    width: 160px;
    height: 227px;
    margin-bottom: 10px;
}
.img-list {
    width: 100% !important;
    height: 227px !important;
}

.title-list {
    font-size: 12px;
}
