.tags {
    margin: 10px 0;
    overflow: hidden;
}
.tags li {
    float: left;
    margin: 3px;
}
.caption {
    padding: 2px 5px;
    color: #fff;
}
.tag-item h2 {
    margin: 0;
    padding: 5px;
    background: #3d4045;
    font-size: 12px;
    font-weight: 500;
    line-height: 1.1;
    color: #fafafa;
}
.tags p {
    font-size: 12px;
    color: #fafafa;
}
.tags p:hover {
    color: #4eb6ff;
}
.keywords {
    margin: 10px 0 0 0;
}
.keywords h4 {
    color: #5f5f5f;
    display: inline-block;
    font-size: 11px;
    margin: 0 5px 0 0;
    font-weight: 500;
    line-height: 1.1;
}
